*.aux
*.bbl
*.blg
*.dll
*.dvi
*.exe
*.idx
*.ilg
*.ind
*.log
*.o
*.out
*.pro.user
*.ps
*.swp
*.toc
*~
*~.nib
*~.xib
.DS_Store
._*
.gitignore~
.hg
.svn
CVS
Debug/
Icon?
PROJECT
Release/
Thumbs.db
build/
desktop.ini
moc_*.cpp
qrc_*.cpp
thumbs.db
ui_*.h
sol-ex-*.pdf
auto
*.table
*.gnuplot
